## Etape 1 : Chargement et comprehension des donnees .

In [7]:
import pandas as pd
import numpy as np

In [19]:
# Chargement des trois bases de donnees
customers = pd.read_csv("C:\\Users\\DELL\\Desktop\\Formation Data-science_FRST_FDS\\Phase 1\\Introduction_Python\\Mini_Projet_Pandas\\Mini_Projet_Pandas\\Data\\customers.csv")
products = pd.read_csv("C:\\Users\\DELL\\Desktop\\Formation Data-science_FRST_FDS\\Phase 1\\Introduction_Python\\Mini_Projet_Pandas\\Mini_Projet_Pandas\\Data\\products.csv")
orders = pd.read_csv("C:\\Users\\DELL\\Desktop\\Formation Data-science_FRST_FDS\\Phase 1\\Introduction_Python\\Mini_Projet_Pandas\\Mini_Projet_Pandas\\Data\\order_lines.csv")

In [3]:
# Affichages des donnees de customers
customers.head()

  customer_id      age gender            city        segment signup_date
0       C0001       28      M        Gonaïves     Entreprise  2025-09-26
1       C0002       16      M        Gonaïves  Professionnel  2024-01-19
2       C0003  unknown      M      Saint-Marc    Indépendant  2024-05-05
3       C0004       46      F  Port-au-Prince  Professionnel  2024-11-16
4       C0005       19      M     Cap-Haïtien  Professionnel  2024-11-21

In [4]:
# Taille de customers
customers.shape

(500, 6)

In [5]:
# Info
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  500 non-null    object
 1   age          500 non-null    object
 2   gender       490 non-null    object
 3   city         485 non-null    object
 4   segment      500 non-null    object
 5   signup_date  500 non-null    object
dtypes: object(6)
memory usage: 23.6+ KB

In [6]:
# Description des donnees
customers.describe(include="all")

       customer_id  age gender            city   segment signup_date
count          500  500    490             485       500         500
unique         500   36      3              16         4         386
top          C0001   16      F  Port-au-Prince  Étudiant  2024-07-25
freq             1   40    235             135       182           3

In [7]:
# Affichages des donnees de products
products.head()

  product_id    category    brand      product_name  unit_price
0       P001      Laptop       HP      Ultrabook 14     1681.08
1       P002      Laptop     ASUS       Notebook 15     1058.14
2       P003       Livre  Manning  Data Engineering       40.16
3       P004  Accessoire    Anker       SSD externe       91.27
4       P005      Laptop       HP         Gaming 16     1123.49

In [8]:
# Info
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    60 non-null     object
 1   category      60 non-null     object
 2   brand         60 non-null     object
 3   product_name  60 non-null     object
 4   unit_price    60 non-null     float64
dtypes: float64(1), object(4)
memory usage: 2.5+ KB

In [9]:
# Taille
products.shape

(60, 5)

In [10]:
# Descriptions des donnees
products.describe(include="all")

       product_id category brand product_name   unit_price
count          60       60    60           60    60.000000
unique         60        6    23           28          NaN
top          P001    Cours    HP          NLP          NaN
freq            1       18     6            5          NaN
mean          NaN      NaN   NaN          NaN   354.351000
std           NaN      NaN   NaN          NaN   514.712694
min           NaN      NaN   NaN          NaN    24.970000
25%           NaN      NaN   NaN          NaN    72.845000
50%           NaN      NaN   NaN          NaN   124.245000
75%           NaN      NaN   NaN          NaN   308.502500
max           NaN      NaN   NaN          NaN  1932.530000

In [11]:
# Affichages des donnees de orders
orders.head()

,order_id,customer_id,product_id,order_date,quantity,unit_price,discount_pct,gross_amount,net_amount,payment_method,channel,marketing_source,delivery_days,returned,review_score,segment,city,category
0,O00001,C0201,P031,2024-06-16,4,165.54,0.18,662.16,542.97,Carte,App,Organique,1.0,0,5.0,Indépendant,Port-au-Prince,Cours
1,O00002,C0141,P041,2024-06-10,5,46.48,0.14,232.40,199.86,Carte,Web,Réseaux sociaux,0.0,0,4.0,Étudiant,Abidjan,Livre
2,O00003,C0025,P005,2024-08-29,2,1123.49,0.04,2246.98,2157.10,Virement,Web,Réseaux sociaux,3.0,0,4.0,Étudiant,Cap-Haïtien,Laptop
3,O00004,C0188,P042,2024-01-27,2,68.31,0.22,136.62,106.56,Carte,Boutique,Partenariat,0.0,0,4.0,Indépendant,Abidjan,Cloud
4,O00005,C0023,P052,2025-08-06,3,1932.53,0.17,5797.59,4812.00,Carte,Web,Référencement payant,9.0,0,5.0,Professionnel,Cap-Haïtien,Laptop

In [12]:
# Info
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          2225 non-null   object
 1   customer_id       2225 non-null   object
 2   product_id        2225 non-null   object
 3   order_date        2225 non-null   object
 4   quantity          2225 non-null   int64
 5   unit_price        2225 non-null   float64
 6   discount_pct      2225 non-null   float64
 7   gross_amount      2225 non-null   float64
 8   net_amount        2225 non-null   float64
 9   payment_method    2225 non-null   object
 10  channel           2225 non-null   object
 11  marketing_source  2225 non-null   object
 12  delivery_days     2181 non-null   float64
 13  returned          2225 non-null   int64
 14  review_score      2115 non-null   float64
 15  segment           2225 non-null   object
 16  city              2155 non-null   object
 17  category          2225 non-null   object
dtypes: float64(6), int64(2), object(10)
memory usage: 313.0+ KB

In [13]:
# Taille
orders.shape

(2225, 18)

In [14]:
# Descrition des donnees
orders.describe(include="all")

,order_id,customer_id,product_id,order_date,quantity,unit_price,discount_pct,gross_amount,net_amount,payment_method,channel,marketing_source,delivery_days,returned,review_score,segment,city,category
count,2225,2225,2225,2225,2225.000000,2225.000000,2225.000000,2225.000000,2225.000000,2225,2225,2225,2181.000000,2225.000000,2115.000000,2225,2155,2225
unique,2200,492,60,683,NaN,NaN,NaN,NaN,NaN,4,3,6,NaN,NaN,NaN,4,16,6
top,O01648,C0363,P060,2025-01-12,NaN,NaN,NaN,NaN,NaN,Carte,Web,Organique,NaN,NaN,NaN,Étudiant,Port-au-Prince,Cours
freq,2,12,52,10,NaN,NaN,NaN,NaN,NaN,895,1218,646,NaN,NaN,NaN,805,600,705
mean,NaN,NaN,NaN,NaN,2.966292,354.163991,0.115097,1049.257438,926.902701,NaN,NaN,NaN,4.112334,0.042247,4.357447,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,1.426634,506.596786,0.068481,1711.115156,1510.243744,NaN,NaN,NaN,4.584551,0.201198,0.595541,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,-1.000000,24.970000,0.000000,24.970000,20.110000,NaN,NaN,NaN,0.000000,0.000000,2.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,2.000000,74.300000,0.060000,158.910000,143.730000,NaN,NaN,NaN,1.000000,0.000000,4.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,3.000000,125.590000,0.110000,362.580000,314.530000,NaN,NaN,NaN,3.000000,0.000000,4.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,4.000000,308.720000,0.160000,898.300000,796.500000,NaN,NaN,NaN,6.000000,0.000000,5.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,5.000000,1932.530000,0.300000,9662.650000,9179.520000,NaN,NaN,NaN,45.000000,1.000000,5.000000,NaN,NaN,NaN

## Rapport d'Audit de Qualité des Données - EduMart

###
1.Pour la table des Clients, On a fait ces constats : 
Il y a la présence de la mention "unknown" ce qui indique des valeurs manquantes, qui empêche les calculs. Il faudra les transformer en nombres. De plus,la colonne signup_date est reconnue comme du texte. Une conversion en format Date est nécessaire.Ensuite, plusieurs lignes n'ont pas de genre (gender) ou de ville (city).

2.Pour la table des Ventes ,on a pu detecter la Présence de valeurs négatives dans la colonne Quantités. Ces lignes sont a fortiori des erreurs de saisie.Pour La colonne order_date est au format texte et doit être convertie en format date.Pour Délais de livraison, Certains délais dépassent 30 jours ou sont manquants.En fin,La colonne review_score contient des valeurs vides (NaN) qu'il faudra gérer.

3.Pour la table des Produits ,Les données semblent propres

# Etape 2 : Nettoyage des donnees

In [17]:
# On remplace 'unknown' par NaN
customers['age'] = customers['age'].replace('unknown', np.nan)

#  puis on convertit en float
customers['age'] = pd.to_numeric(customers['age'], errors='coerce')

# On remplace les valeurs manquantes par la mediane
age_mediane = customers['age'].median()
customers['age'] = customers['age'].fillna(age_mediane)

In [18]:
# Pour verification des ages 
print(customers['age'].unique())

[28. 16. 29. 46. 19. 20. 44. 52. 26. 32. 43. 21. 27. 35. 18. 31. 25. 37.
 30. 23. 42. 33. 36. 41. 17. 39. 34. 38. 24. 22. 40. 48. 45. 50. 49.]

In [19]:
# Gestion des Dates 
customers['signup_date'] = pd.to_datetime(customers['signup_date'])
orders['order_date'] = pd.to_datetime(orders['order_date'])

In [20]:
#  Conversion de discount_pct en format numeric
orders['discount_pct'] = pd.to_numeric(orders['discount_pct'], errors='coerce')

In [21]:
# Traitement des autres valeurs manquantes 

customers['city'] = customers['city'].fillna('Inconnu')
customers['gender'] = customers['gender'].fillna('Inconnu')

# On remplace le ccore moyen pour les avis manquants et 0 pour les délais
orders['review_score'] = orders['review_score'].fillna(orders['review_score'].mean())
orders['delivery_days'] = orders['delivery_days'].fillna(0)

In [22]:
# Constats sur les doublons avant modifications
nb_doublons = orders.duplicated().sum()

print(nb_doublons)

print(orders[orders.duplicated()].head())

25
     order_id customer_id product_id order_date  quantity  unit_price  \
2200   O01838       C0275       P016 2025-01-12         3     1572.54
2201   O00678       C0313       P031 2025-04-27         2      165.54
2202   O00857       C0103       P037 2025-05-18         4      120.19
2203   O00142       C0449       P026 2025-06-26         3       95.37
2204   O00410       C0429       P060 2025-06-14         3      813.91

      discount_pct  gross_amount  net_amount payment_method channel  \
2200          0.10       4717.62     4245.86   Mobile Money     Web
2201          0.05        331.08      314.53   Mobile Money     Web
2202          0.12        480.76      423.07   Mobile Money     Web
2203          0.17        286.11      237.47          Carte     Web
2204          0.08       2441.73     2246.39       Virement     Web

     marketing_source  delivery_days  returned  review_score        segment  \
2200  Réseaux sociaux           11.0         1           4.0       Étudiant
2201  Réseaux sociaux            3.0         0           5.0       Étudiant
2202        Organique            0.0         0           4.0    Indépendant
2203      Partenariat            4.0         0           4.0       Étudiant
2204           Direct            8.0         0           4.0  Professionnel

                city    category
2200        Gonaïves      Laptop
2201  Port-au-Prince       Cours
2202        Montréal       Cours
2203           Paris  Accessoire
2204   Santo Domingo      Laptop

In [23]:
# Suppression des Doublons et Anomalies

#  Supprimer les doublons parfaits dans la table des ventes
orders = orders.drop_duplicates()

#  Supprimer les quantités négatives ou nulles
orders = orders[orders['quantity'] > 0]

# Supprimer les délais de livraison (> 30 jours)
orders = orders[orders['delivery_days'] <= 30]

In [24]:
# Vérification de la cohérence financière
# Calcul théorique
net_theorique = orders['gross_amount'] * (1 - orders['discount_pct'])

print(orders['net_amount'])
print(net_theorique)

0        542.97
1        199.86
2       2157.10
3        106.56
4       4812.00
         ...
2195     173.41
2196     216.30
2197    2666.51
2198      84.88
2199     192.77
Name: net_amount, Length: 2188, dtype: float64
0        542.9712
1        199.8640
2       2157.1008
3        106.5636
4       4811.9997
          ...
2195     173.4130
2196     216.3040
2197    2666.5128
2198      84.8793
2199     192.7680
Length: 2188, dtype: float64

In [25]:
# On ne garde que les lignes où l'écart est presque nul (tolérance de 0.01)
ecart = np.abs(orders['net_amount'] - net_theorique)
orders = orders[ecart < 0.01]

In [33]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  500 non-null    object
 1   age          500 non-null    float64
 2   gender       500 non-null    object
 3   city         500 non-null    object
 4   segment      500 non-null    object
 5   signup_date  500 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 23.6+ KB

In [34]:
# 3. Sauvegarde du livrable
orders.to_csv('C:\\Documents\\Abdarare\\FDS-FRST-SDMIA\\Python\\Mini_Projet_Pandas\\Livrables\\Données_nettoyées\\order_lines_clean.csv', index=False)
customers.to_csv('C:\\Documents\\Abdarare\\FDS-FRST-SDMIA\\Python\\Mini_Projet_Pandas\\Livrables\\Données_nettoyées\\customers_clean.csv', index=False)
products.to_csv('C:\\Documents\\Abdarare\\FDS-FRST-SDMIA\\Python\\Mini_Projet_Pandas\\Livrables\\Données_nettoyées\\products_clean.csv', index=False)

# Les 5 règles de nettoyage documentées

###
1.- Normalisation des Types Temporels : 
Conversion des colonnes order_date et signup_date en format datetime pour permettre les analyses chronologiques précises.

2.- Traitement des Valeurs Textuelles dans l'Âge : 
Dans la table customers, les entrées "unknown" ont été converties en valeurs numériques NaN. Les valeurs manquantes ont ensuite été complétées par la médiane (28 ans) pour ne pas fausser la moyenne d'âge.

3.- Élimination des Doublons Transactionnels : 
Nous avons identifié et supprimé 25 lignes identiques dans order_lines. Cette règle garantit que le chiffre d'affaires et le nombre de commandes ne sont pas surestimés.

4.- Filtrage des Anomalies de Saisie : 
Suppression de toutes les transactions avec une quantity inférieure ou égale à 0 (erreurs de stock) et des livraisons supérieures à 30 jours (délais logistiques jugés aberrants pour EduMart).

5.- Audit de Cohérence Financière : 
Recalcul du montant net pour chaque ligne en fonction du prix brut et de la remise. Seules les lignes où l'écart est inférieur à 0.01 ont été conservées pour assurer la fiabilité des futurs calculs de profitabilité.